@import "base";
@import "variables";
@import "classes";
@import "media-queries";
@import "reset";
@import "utils";

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;

  header {
    grid-area: header;
    padding: 1.5rem 2rem;
    background-color: var(--dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
    }
    .header-brand {
      font-size: 4rem;
      font-weight: 700;
    }
    .header-menu {
      position: relative;
      ul {
        @include xs {
          display: none;
        }
        display: flex;
        li {
          .header-nav {
            font-size: 1.7rem;
            margin: 0 10px;
          }
          .active {
            font-weight: bold;
            border-bottom: 1px solid white;
            padding-bottom: 1px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .header-menu-icon {
        display: none;
        font-size: 3rem;
        color: white;
        @include xs {
          display: block;
        }
      }
      .mobile-menu {
        display: none;
        position: absolute;
        box-shadow: var(--box-shadow);
        top: 8rem;
        right: 1rem;
        width: 20rem;
        padding: 3rem 1.5rem;
        background: white;
        ul {
          display: block;
          li {
            margin: 2rem 0;
            a {
              color: var(--text);
            }
          }
        }
      }
      .mobile-menu.open {
        display: block;
      }
    }
  }
  .content {
    // padding: 20px;
    grid-area: content;
    background: var(--divider);
  }
  footer {
    grid-area: footer;
    font-size: 1.7rem;
    text-align: center;
    color: white;
    background-color: var(--dark-grey);
    padding: 2rem;
  }
}
